<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<array>
		<dict>
			<key>Site URL</key>
			<string>canvas</string>
			<key>Site Name</key>
			<string>Demo1</string>
		</dict>
		<dict>
			<key>Site URL</key>
			<string>index</string>
			<key>Site Name</key>
			<string>Demo2</string>
		</dict>
	</array>
</dict>
</plist>
